<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="demo">
    <input type="text" v-model="searchName" />
    <ul>
        <li v-for="(index, p) in filterPersons" :key="index">
            {{index}}--{{p.name}}--{{p.age}}
        </li>
    </ul>
    <button @click="setOrderType(1)">按年齡升序</button>
    <button @click="setOrderType(2)">按年齡降序</button>
    <button @click="setOrderType(0)">原本順序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el : "#demo",
        data : {
            searchName : '',
            persons : [
                {name : 'Tom', age : 18},
                {name : 'Jason', age : 16},
                {name : 'Bob', age : 19},
                {name : 'Rose', age : 22}
            ],
            orderType : 0, //0：原本順序, 1：升序, 2：降序
        },
        computed : {
            filterPersons () {
                // 取出相關的數據
                const {searchName, persons, orderType} = this;
                let result;
                //針對persons進行過濾
                result = persons.filter(p => p.name.indexOf(searchName) !== -1);

                //排序
                if(orderType!==0){
                    result.sort((p1, p2) => {
                        if(orderType==2){ //降序
                            return p2.age-p1.age;
                        } else { //升序
                            return p1.age-p2.age;
                        }
                    })
                }

                return result;
            }
        },
        methods : {
            setOrderType(orderType){
                this.orderType = orderType;
            }
        }
    })

</script>
</body>
</html>